= simple_form_for organisation do |f|
  = f.error_notification

  = f.input :name
  = f.input :key
  =# f.input :public_by_default, :hint => "Should projects for this organisation be public by default?"

  .actions
    = f.button :submit, :class => 'btn btn-primary'
